# Airtable
AIRTABLE_API_KEY=patXXXXXXXXXXXXXX
AIRTABLE_BASE_ID=appBbC6DxY50kbX11

# Make.com webhook URL (triggert de content flow)
MAKE_CONTENT_WEBHOOK_URL=https://hook.eu1.make.com/XXXXXXXXX

# Beveiligingstoken voor inkomende webhooks van Make.com
WEBHOOK_SECRET=kies-een-sterk-geheim

# Optioneel: simpele wachtwoordbeveiliging voor het dashboard
DASHBOARD_PASSWORD=
